////////////////////////////
//                        // 
// variable definitions   //
//                        //
////////////////////////////

// common variables
@link-blue:         #26c;
@link-blue-visited: #549;
@container-width:   550px;

// fonts
@font-swiss-thin:    'Helvetica Neue';
@font-swiss-regular: 'Helvetica';
@font-plain-looking: 'Arial', 'Verdana';
@font-fancy-title:   'Domine';
@font-good-hangul:   'Apple SD Gothic Neo', 'Nanum Gothic';

// default font chain
@font-chain:          @font-good-hangul, 
                      @font-swiss-thin, 
                      @font-swiss-regular, 
                      @font-plain-looking;

// rooms
@room-zip:     0px;
@room-bare:    5px;
@room-thin:   10px;
@room-para:   20px;
@room-normal: 30px;
@room-more:   50px;
@room-super:  80px;

// font weights
@weight-thin:   100;
@weight-light:  200;
@weight-normal: 300;
@weight-medium: 400;

// font sizes
@size-tiny:    11px;
@size-small:  0.8em;
@size-normal: 1.0em;
@size-medium: 1.6em;
@size-big:    2.0em;

// mixins
.side-margin(@left: auto;@right: auto) {
  margin-left:  @left;
  margin-right: @right;
}

.side-padding(@left: 0px; @right: 0px) {
  padding-left:  @left;
  padding-right: @right;
}

////////////////////////////
//                        // 
// beginning of css rules //
//                        //
////////////////////////////

body {
  margin:@room-zip @room-zip @room-more @room-zip;
  padding:@room-zip;
  font-family:@font-chain;
  font-weight:@weight-normal;
}

a         { color:@link-blue; }
a:visited { color:@link-blue-visited; }

h2 {
  font-family:@font-fancy-title;
  font-size:@size-big;
  font-weight:@weight-normal;
  margin-bottom:@room-bare;
}

h3 {
  font-size:1.0em;
  margin-bottom:@room-zip;
}

.container {
  width:@container-width;
  .side-margin(auto; auto);
}

.logo {
  margin-top:@room-more;

  img {
    width:220px;
    display:block;
    .side-margin(auto; auto);
  } 
}

.entry {
  img {
    width: 100%;
  }
  
  .date-posted {
    font-size:@size-small;
    font-family:@font-swiss-regular;
    margin-bottom:@room-normal;
  }

  .info {
    margin-top:@room-normal;
    font-size:@size-small;
    font-weight:@weight-medium;
    font-family:@font-swiss-thin;
    text-align:right;
    margin-bottom:@room-more;
  }

  p {
    margin-bottom:@room-para;
  }

  .article {
    margin-bottom:@room-thin;
  }

  a         { color:@link-blue; }
  a:visited { color:@link-blue; }

}

.header {
  margin-top:@room-normal;
  text-align:center;

  img {
    display: block;
    .side-margin(auto; auto);
  }

  .sublogo {
    margin-top:@room-para;
    margin-bottom:@room-thin;
  }

  .pixelated {
    margin-bottom:@room-super;
    font-family: @font-plain-looking;
    font-size:@size-tiny;
  }
}

.about {
  a, a:visited {
    font-family:@font-swiss-thin;
    font-weight:@weight-normal;
  }
}

hr + ol {
  font-family:@font-plain-looking;
  font-size:@size-tiny;
  li {
    margin-bottom:@room-bare;
  }
}

.footnote {
  margin-top:@room-more;
  font-family:@font-plain-looking;
  font-size:@size-tiny;

  li {
    margin-bottom:@room-bare;
  }

  .nonum {
    list-style-type:none;
  }
}

.data {
  h4 {
    font-size:1.1em;
    margin-bottom:@room-zip;
  }
  ol {
    margin-top:@room-normal;
  }
  li {
    font-size:0.9em;
  }
  .source {
    font-family:@font-plain-looking;
  }
  .info {

    margin-top:7px;
  } 
  .download {
    margin-top:10px;
    font-family:@font-plain-looking;
  }
}

hr {
  background:#eee; 
  border:0; 
  height:3px; 
  margin-bottom:@room-thin;
}

.archive-entry {
  font-family:@font-fancy-title;
  margin-bottom:5px;
}

////////////////////////////
//                        // 
// media queries          //
//                        //
////////////////////////////

// smartphones
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  h2 {
    font-size: @size-medium;
  }
  .container {
    width:auto;
    .side-padding(12px;12px);
  }
  .header .pixelated {
    margin-bottom: @room-normal;
  }
}
