<!-- begin identity -->
<div class="logo">
  <a href="/"><img src="/img/logo.png" border="0" alt="diasporas blog logo"></a>
</div>

<div class="header">

  <div class="sublogo">
    <a href="/"><img src="/img/marker.jpg" style="width:36px;" border="0" alt="marker"></a>
  </div>

  <div class="pixelated">
    <img src="/img/pixelated-title.png" alt="pixelated blog">
    <a href="/about">about</a> | <a href="/archive">archive</a> | <a href="/feed.xml">rss</a>
  </div>
</div>
<!-- end identity -->
