{% include identity.html %}

<div class="entry">
  
  <h2>{{post.title}}</h2>
  <div class="date-posted">
    &mdash; {{ post.date | date: '%B %d, %Y %I:%M %p' }} PST
  </div>
  <div class="article">
    {{ content }}
  </div>  
  <div class="info">
    {% for tag in post.tags %}
      &#35;{{tag}}
    {% endfor %}
    <div>
      {{post.author | prepend: 'posted by '}}
    </div>
  </div>

  <div id="disqus_thread"></div>

  <script type="text/javascript">
    var disqus_shortname = 'diasporas'; 
    var disqus_title = '{{post.title}}';
    var disqus_identifier = '{{post.id}}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>

</div> <!-- end of entry -->